<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
<h1>Добро пожаловать в TechOasis!</h1>
<h2>Выберите действие:</h2>
<h2><a href="{% url 'reg' %}">Регистрация</a></h2>
<h2><a href="{% url 'log' %}">Войти как пользователь</a></h2>
<h2><a href="{% url 'log' %}">Войти как доставщик</a></h2>
<h2><a href="{% url 'adproducts' %}">Войти как продавец</a></h2>
<h2><a href="{% url 'products' %}">Продолжить без входа</a></h2>

</body>
</html>